body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #f79d17;
    padding: 10px 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header .logo {
    max-width: 100px; /* Adjust logo size */
    margin-right: 10px; /* Space between logo and text */
    height: 100px;
}

header h1 {
    margin: 0;
    font-size: 1.8em;
    color: #333;
    flex: 1;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #333;
    color: #f79d17;
    border-radius: 5px;
}




footer {
    background-color:#f79d17;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}

footer p {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #555;
}
